.picture {
	border: 1px solid grey;
	margin-top: 20px;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
}

.picture__title {
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
}

.picture__title span {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.picture__title a {
	margin-left: auto;
	color: red;
	margin-right: 20px;
	font-size: 0.8em;
	text-decoration: none;
}

.picture__image {
	align-self: center;
}

.picture__img {
	max-width: 100%;
	height: auto;
	max-height: 100%;
}

.gallery__main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.gallery__header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	border-bottom: 1px solid grey;
}

.gallery__black_circle {
	background: black;
	border: 1px solid black;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	margin-left: 20px;
	align-self: center;
}

.gallery__header_title {
	margin-left: 20px;
}

.gallery__add_btn {
	border: 1px solid green;
	color: green;
	border-radius: 5px;
	padding: 20px 40px;
	margin-top: 20px;
}

.gallery__add_btn:hover {
	border: 1px solid green;
	color: white;
	background: green;
	border-radius: 5px;
	padding: 20px 40px;
	margin-top: 20px;
}

.gallery__pictures_list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	margin: auto;
}

.add {
	background: lightgrey;
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 100%;
	height: 100%;
}

.add__form {
	background: white;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 250px;
	margin: auto;
	padding: 40px;
}

.add__header {
	align-self: center;
	font-size: 20px;
}

.add__title,
.add__URL {
	border: 1px solid green;
	padding: 10px;
	margin-top: 20px;
}

.add__title_error,
.add__URL_error {
	border: 1px solid red;
	padding: 10px;
	margin-top: 20px;
}

.add__buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.add__add_btn,
.add__close_btn {
	border: 1px solid green;
	color: green;
	border-radius: 5px;
	padding: 10px 20px;
	margin-top: 20px;
}

.add__add_btn:hover {
	background: green;
	color: white;
}

.add__close_btn {
	border: 1px solid gray;
	color: black;
	margin-right: 20px;
}

.add__close_btn:hover {
	background: gray;
	color: white;
}

@media (orientation: portrait) {
	.gallery__black_circle {
		display: none;
	}

	.gallery__header_title {
		margin: 0px auto;
		font-size: 0.8rem;
	}

	.gallery__add_btn {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		text-align: center;
		font-size: 0.8rem;
		padding: 10px 0px;
	}

	.gallery__add_btn:hover {
		width: 70%;
		margin-left,margin-right: auto;
		margin-top: 20px;
		text-align: center;
		font-size: 0.8rem;
		padding: 10px 0px;
	}

	.gallery__pictures_list {
		width: 80%;
	}

	.picture__title {
		width: 90%;
		margin: 0px auto;
		font-size: 0.6rem;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.picture__title span {
		width: 100%;
		margin: 0px auto;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-align: center;
	}

	.picture__title a {
		display: none;
	}
}
